
#center {
  transition: all filter 0.75s ease-in-out;
}
.content {
  z-index: 1;
  position: relative;
}


.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.Middlepart {
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 80%;
  letter-spacing: 0.1em;
  color: white;
}
.Title {
margin: auto;
    text-align: center;
    padding: 100px 0px 2px 0px;
    font-size: 50px;
    font-weight: 600;
    font-family: montserrat_semibold,sans-serif;
    letter-spacing: .05em;
}

.Description {
  margin: auto;
  width: 55%;
  text-align: center;
  text-transform: none;
  line-height: 22px;
  padding-bottom: 20px;
  font-family: montserrat;
    text-transform: capitalize;
}
button {
  color: white;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #142B54;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.3em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: POINTER;
  outline-style: none;
}

button:before,
button:after {
  content: "";
  display: block;
  position: absolute;
  border-color: white;
  box-sizing: border-box;
  border-style: solid;
  width: 2em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

button:before {
  top: -10px;
  left: -10px;

  border-width: 3px 0 0 3px;
  z-index: 5;
}

button:after {
  bottom: -10px;
  right: -10px;
  border-width: 0 3px 3px 0;
}
button:hover:before,
button:hover:after {
  width: calc(100% + 50px);
  height: calc(100% + 2px);
  border-color: #fff;
}
button:hover {
  color: #353535;
  background-color: #fff;
  border-color: #fff;
}
.panel {
  max-width: auto;
  text-align: center;
  position: relative;
  margin: auto;
}

.grid-container {
  display: grid;
  align-content: center;
  webkit-box-pack: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  gap: 40px 70px;
  grid-template-columns: auto auto auto;
  padding-top: 50px;
}
.grid-item {
  color: white;
  padding: 30px 30px 40px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  margin: auto;
  transition: 0.2s ease-in-out;
}

.HBbutton {
  letter-spacing: 0.15em;
  transition: 0.3s ease 0s;
}
.HBbutton:hover {
  letter-spacing: 0.25em;
  transition: 0.3s ease 0s;
}
.HBbutton {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}
.HBbutton:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.HBbutton:hover:after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 10px white;
}

.title {
  display: inline-block;
  width: 100%;
}

.HBlogo {
  margin: 4px;
  width: 35px;
  vertical-align: middle;
}
.HBbutton {
  text-decoration: none;
}
.HBtitle {
  font-family: montserrat;
  color: white;
  font-weight: 600;
}
span {
  vertical-align: middle;
}

/* Add this to align vertically */
button > img,
button > span {
  vertical-align: middle;
}
button > img {
  width: 2.5%;
}
/* width */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-thumb {
  background: #142B54;
  border: 1px solid #9CDBFC;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 8px grey;
}
span {
  vertical-align: middle;
}

.testimonialstitle {
  font-size: 30px;
  text-align: center;
  font-family: montserrat;
  color: white;
  margin-top: 50px;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 20px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
  color: white;
}

.slider .quotett {
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  text-transform: none;
  font-family: montserrat;
}

.slider .source {
  font-size: 15px;
  text-align: center;
  font-weight: 200;
  font-family: montserrat;
  text-transform: capitalize;
}

.slider li.anim1 {
  animation: cycle 45s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 45s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 45s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 45s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 45s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}