* {
    box-sizing: border-box;
}
body{
  font-family:montserrat,sans-serif;
  text-transform:uppercase; 
}
#center{
transition: all filter 0.75s ease-in-out;
}
#myVideoid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:0;
  opacity:0.9;
  background-color: rgba(0,144,255,.2);
}
.video-overlay{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:0;
  opacity:0.9;
  background-color: rgba(0,144,255,.2);
  filter:blur(90px);
}
.content{
  z-index:1;
  position:relative;
}
.PageTop{
  overflow:hidden;
  margin:auto;
  height:100%;
  width:80%;
  letter-spacing: .1em;
  color:white;
}
.Title{
  margin:auto;
  text-align:center;
  padding:100px 0px 2px 0px;
  font-size: 50px;
  font-weight: 600;
  font-family: montserrat_semibold,sans-serif;
  letter-spacing: .05em;
}
.PageDescription{
  text-align:center;
  text-transform: none;
  line-height:22px;
}

.grid-container {
    display: grid;
    align-content: center;
    webkit-box-pack: center;
    justify-content: center;
margin:auto;
  width:80%;
  gap: 40px 70px;
  grid-template-columns: auto auto;
  padding-top: 50px;
}
.grid-item {
      background-position: bottom right;
  background-size: cover;
  padding: 30px 30px 40px;
  font-size: 30px;
  text-align: center;
  border-radius:20px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
  z-index: 1;
  margin:auto;
  border: solid 1px #9CDBFC;
  width:100%;
  display:block;
    transition: .2s ease-in-out;
}
.grid-item:hover{;
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.4);
    transition: .2s ease-in-out;
}
.title{
display:inline-block;
width:100%;
}
.button{
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:montserrat_semibold,sans-serif;
  margin:auto;
  cursor:pointer;
  font-weight:600;
  letter-spacing:.1em;
  transition: 0.4s;
  width:100%;
}

.sponsorlogo{
  margin:4px;
  width:35px;
  vertical-align:middle;
}
span{
    vertical-align: middle;
}

/* Add this to align vertically */
button > img,
button > span {
  vertical-align: middle;
}
button > img {
  width:2.5%;
}
.titlenlogo{
  float:center;
}
.sponsorname{
  color: white;
    font-size: 22px;
    padding-left: 5px;
    font-family: montserrat;
    font-weight: 700;
}
.sponsordescription{
      text-align: center;
    text-transform: none;
    color: white;
  font-size: 18px;
}
.sponsorsocials{
  width:4%;
  margin: auto 10px auto 10px;
}
.sponsorsocialsdiv{
  padding-top:20px;
}
#sponsor1{
    background-position: bottom right;
  background-size: cover;
    background-image: url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd4.png?v=1568753648519)  ;
  background-color:rgba(0,0,0,.25);
}
#sponsor1:hover{
    background-position: bottom right;
  background-size: cover;
    background-image:url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd3.png?v=1568753563547) ;
      background-color:#52627C;
}
#sponsor2{
    background-position: bottom right;
  background-size: cover;
    background-image: url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd4.png?v=1568753648519)  ;
  background-color:rgba(0,0,0,.25);
}
#sponsor2:hover{
    background-position: bottom right;
  background-size: cover;
    background-image:url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd3.png?v=1568753563547) ;
      background-color:#52627C;
}
#sponsor3{
    background-position: bottom right;
  background-size: cover;
    background-image: url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd4.png?v=1568753648519)  ;
  background-color:rgba(0,0,0,.25);
}
#sponsor3:hover{
    background-position: bottom right;
  background-size: cover;
    background-image:url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd3.png?v=1568753563547) ;
      background-color:#52627C;
}
#sponsor4{
    background-position: bottom right;
  background-size: cover;
    background-image: url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd4.png?v=1568753648519)  ;
  background-color:rgba(0,0,0,.25);
}
#sponsor4:hover{
    background-position: bottom right;
  background-size: cover;
    background-image:url(https://cdn.glitch.com/99e42c9f-62ed-4bbd-9d7e-a81971a0b273%2Ffgdgd3.png?v=1568753563547) ;
      background-color:#52627C;
}

.bottomtext{
  color:white;
  margin:auto;
  display:block;
  text-align:center;
  margin-top:40px;
  font-size:20px;
}
.buttondiv{
  overflow:hidden;
  margin:auto;
  width:auto;
  color:white;
  text-align:center;
}
.sponsorbutton {
  letter-spacing: 0.15em;
  transition: 0.3s ease 0s;
}
.sponsorbutton:hover {
  letter-spacing: 0.25em;
  transition: 0.3s ease 0s;
}
.sponsorbutton {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}
.sponsorbutton:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.sponsorbutton:hover:after {
  width: 100%;
  left: 0;
  box-shadow: 0 0 10px white;
}
.sponsorbuttontext {
  font-family: montserrat;
  color: white;
  font-weight: 600;
  font-size:25px;
}